body  {
  background-image: url(https://www.wallpapertip.com/wmimgs/50-504393_background-food-images-hd.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  /* position: absolute; */
  /* margin: 0; */
  background-attachment: fixed
}



.h1{
  text-align: center;
  margin-top: 10%;
  color: rgb(235, 233, 211)  ;
  font-family: 'Cookie', cursive;
} 

.landing button{
    position: absolute; /*  */
    
    display: flex;
    padding-left: 25px;/* agrando el button hacia la izquierda  */
    padding-right: 25px; /* agrando el button hacia la derecha */
    padding-top: 10px; /*agrando el button hacia arriba  */
    padding-bottom: 10px; /* agrando el button hacia abajo */
    margin-left: 47%;/*muevo el button hacia la derecha  */
    margin-top: 5%;
}

.btn{
  background-color: rgb(235, 233, 211);
  border: none;
  border-radius: 7px;
}

.btn:hover{  /* cuando toco el button cambia */
  background-color:rgb(231, 204, 158);
  color:white;
}


